extends ../layout

block content
    p 
                    a(href='/blobs/new') Dodaj novi projekt
    h1.
         #{title}
    ul
        - each blob, i in blobs
          
                h3=  ('Naziv projekta: '+blob.naziv_projekta )
            
                form(action='/blobs/#{blob._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Izbriši
                p 
                    a(href='/blobs/#{blob._id}/edit') Uredi
                p
                    a(href='/blobs/#{blob._id}') Prikazi