body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  text-align: center;
  margin-top:10%;
}
ul{
padding: 2%;
margin:2%; 
}
a {
  color: #00B7FF;
  float: left;
  margin-right: 2%;
}
form{
  display: inline-block;
}